[submodule "data"]
	path = data
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "derivatives"]
	path = derivatives
	url = ./derivatives
	datalad-id = 5c21c695-9979-411e-bc7b-8168cc842756
